body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,#5e140f 0%,#c91c1c 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
#wineSelect {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
#recipeList {
    list-style: none;
    padding: 0;
}
#recipeList li {
    margin-bottom: 10px;
}